<nav class="navbar navbar-light"
     style="background-color: #e3f2fd;">
    <div id="navbarLinksPanel">
        <a class="navbarLink"
           href="#">Home</a>
        <a class="navbarLink"
           href="#">Admin</a>
        <a class="navbarLink"
           href="#">Survey</a>
    </div>
</nav>