<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>

		<header>
			<% include partials/header.ejs %>
		</header>


		<div id="content">
			<!-- Vertical navbar -->
			<%- include partials/sidebar.ejs %>
			<!-- End vertical navbar -->
			<div id="profContent">
				<div id="surveyPanel">
					<form id="addSurveyForm"
					      class="form-inline">
						<select id="yearBox">
							<option value="2019">2019</option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
						</select>

						<select id="subjectBox">
							<% for (let i = 0; i < subjects.length; i++){ %>
								<option value="<%= subjects[i].id %>"><%= subjects[i].name %></option>
							<% } %>
						</select>

						<button id="addSurveyBtn"
						        type="button"
						        class="btn btn-sm btn-primary mb-2">Add
						</button>
					</form>

					<table id="surveyTable"
					       class="table">
						<thead>
							<tr>
								<th>Time</th>
							</tr>
						</thead>
						<% for (let i = 0; i < lectures.length; i++) { %>
							<tr>
								<td>
									<%= moment(lectures[i].date_time).format('DD.MM.YYYY h:mm:ss') %>
								</td>
							</tr>
						<% } %>
					</table>
				</div>
			</div>
		</div>

		<!--<script>
        function addSurvey() {
            let year = $("#yearBox")[0].value;
            if (isNaN(year)) {
                console.error("Year is not a number")
                return
            }
            year = parseInt(year);
            let subject_id = $("#subjectBox")[0].value;
            let survey = {
                year: year,
                subject_id: subject_id
            };
            $.ajax({
                url: "/survey",
                type: 'POST',
                data: survey,
                error: (xhr, error) => {
                    // console.debug(xhr);
                    console.error("Error in ajax req: " + error);
                },
                success: () => {
                    console.log("Post success");
                    $("#surveyTable").load(" #surveyTable", () => {
                        $("#surveyTable").children().unwrap();
                    });
                }
            });
        }

        function deleteSurvey(id, index) {
            $.ajax({
                url: "/survey/" + id,
                type: 'DELETE',
                error: (xhr, error) => {
                    // console.debug(xhr);
                    console.error("Error in ajax req: " + error);
                },
                success: () => {
                    console.info("Delete success");
                    $("#surveyTable")[0].deleteRow(index);
                }
            });
        }

        function loadContent(link) {
            if (link === "Surveys")
                $("#profContent").load("partials/surveyPanel.ejs");
        }

        //# sourceURL=addSurvey.js
		</script>-->
		<% include partials/scripts.ejs %>
	</body>
</html>
