<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>

		<header>
			<% include partials/header.ejs %>
		</header>


		<div id="content">
			<!-- Vertical navbar -->
			<%- include partials/sidebar.ejs %>
			<!-- End vertical navbar -->
			<div id="profContent">
				<h2>Question Finder</h2>
				<div class="form-group row">
					<label for="subjectBox"
					       class="col-sm-2 col-form-label">Subject
					</label>
					<div class="col-sm-10 d-flex">
						<select required
						        class="custom-select"
						        onchange="reRenderLectures()"
						        id="subjectBox">
							<% for (let i = 0; i < subjects.length; i++){ %>
								<option value="<%= subjects[i].id %>">
									<%= subjects[i].name %>
								</option>
							<% } %>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="lectureBox"
					       class="col-sm-2 col-form-label">Lecture
					</label>
					<div class="col-sm-10 d-flex">
						<select required
						        class="custom-select"
						        id="lectureBox">
							<option value="">
								Choose subject first!
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row d-flex flex-row-reverse">
					<button type="button"
					        id="searchBtn"
					        onclick="search()"
					        class="btn btn-primary">Search
					</button>
					<button type="button"
					        id="addNewBtn"
					        style="margin-right: 20px"
					        onclick="goToAdd()"
					        class="btn btn-primary">New Question
					</button>
				</div>
				<hr style="border: 1px solid rgba(0,0,0,.1);"/>
				<div>
					<table id="resultTable">
						<thead>
							<tr>
								<th>Question</th>
								<th>Type</th>
								<th>Category</th>
							</tr>
						<thead>
					</table>
				</div>
			</div>
		</div>


		<script>
        function reRenderLectures() {
            let subjectId = $("#subjectBox")[0].value;
            let url = `/api/lecture?subjectId=${subjectId}`;
            $.get(url).then((res) => {
                let lectureBox = $("#lectureBox")[0];
                lectureBox.innerHTML = "";
                for (let i = 0; i < res.length; i++) {
                    let date = res[i].date_time;
                    let option =
                        `<option value=${res[i].id}>
														${res[i].subject_name} ${date}
													</option>
		                    `;
                    lectureBox.insertAdjacentHTML("beforeend", option);
                }
            });
        }

        function goToAdd() {
            window.location.replace("http://localhost:3000/addQuestion");
        }

        function goToUpdate(id) {
            window.location.replace("http://localhost:3000/updateQuestion/" + id);
        }

        function search() {
            let lectureId = $("#lectureBox")[0].value;
            let url = `/api/question?lectureId=${lectureId}`;
            let table = $("#resultTable")[0];
            table.innerHTML = "";
            table.innerHTML = `<thead>
																<tr>
																 <th>Question</th>
																 <th>Type</th>
																 <th>Category</th>
																</tr>
															<thead>`;

            $.get(url).then((res) => {
                    console.log(res);
                    for (let i = 0; i < res.length; i++) {
                        let question =
                            `
															<tr>
																<td>
																	${res[i].question}
																</td>
																<td>
																	${res[i].type}
																</td>
																<td>
																	${res[i].category}
																</td>
																<td>
																	<img  style="height: 30px"
																				onclick="deleteQuestion(${res[i].id}, this.parentElement.parentElement.rowIndex)"
					                              src="https://img.icons8.com/carbon-copy/100/000000/delete-forever--v1.png"/>
																</td>
																<td style="padding-left: 20px">
																		<img style="height: 30px"
																					onclick="goToUpdate(${res[i].id})"
																				 src="https://img.icons8.com/ios-filled/50/000000/ball-point-pen.png">
																</td>
														  </tr>
		                        `
                        table.insertAdjacentHTML("beforeend", question);
                    }
                }
            );
        }

        function deleteQuestion(id, index) {
            $.ajax({
                url: "/api/question/" + id,
                type: 'DELETE',
                error: (xhr, error) => {
                    console.error("Error in ajax req: " + error);
                },
                success: () => {
                    console.info("Delete success");
                    $("#resultTable")[0].deleteRow(index);
                }
            });

        }
		</script>
		<% include partials/scripts.ejs %>
		<script>
        document.onload = reRenderLectures();
		</script>
	</body>
</html>
