<!DOCTYPE html>
<html>
	<head>
		<% include ../views/partials/head.ejs %>
	</head>
	<body>
		<header>
			<% include ../views/partials/header.ejs %>
		</header>

		<div id="content"
		     style="display: flex; flex-direction: column; align-items: center;">
			<% include partials/student/student-nav.ejs %>
			<div id="studentAnswersPanel">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Date</th>
							<th>Question</th>
							<th>Answer</th>
						</tr>
					</thead>
					<% for (let i = 0; i < answers.length; i++){ %>
						<tr>
							<td><%= moment(answers[i].date_of_answer).format('DD.MM.YYYY h:mm:ss') %></td>
							<td><%= answers[i].question %></td>
							<td><%= answers[i].answer %></td>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
		<% include ../views/partials/scripts.ejs %>
	</body>
</html>
