<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>

		<header>
			<% include ../partials/header.ejs %>
		</header>


		<div id="content">
			<!-- Vertical navbar -->
			<% include ../partials/teacher/teacher-nav.ejs %>
			<!-- End vertical navbar -->
			<div id="profContent">
				<div style="width: 80%">
					<div id="answSearchPanel">
						<h2>Answer Finder</h2>
						<div class="form-group row">
							<label for="subjectBox"
							       class="col-sm-2 col-form-label">Subject
							</label>
							<div class="col-sm-10 d-flex">
								<select required
								        class="custom-select"
								        onchange="reRenderLectures()"
								        id="subjectBox">
									<% for (let i = 0; i < subjects.length; i++){ %>
										<option value="<%= subjects[i].id %>">
											<%= subjects[i].name %>
										</option>
									<% } %>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="lectureBox"
							       class="col-sm-2 col-form-label">Lecture
							</label>
							<div class="col-sm-10 d-flex">
								<select required
								        class="custom-select"
								        onchange="reRenderQuestions()"
								        id="lectureBox">
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="questionBox"
							       class="col-sm-2 col-form-label">Question
							</label>
							<div class="col-sm-10 d-flex">
								<select required
								        class="custom-select"
								        id="questionBox">
								</select>
							</div>
						</div>
						<div class="form-group row d-flex flex-row-reverse">
							<button type="button"
							        id="searchBtn"
							        onclick="search()"
							        class="btn btn-primary">Search
							</button>
						</div>
					</div>
					<hr style="border: 1px solid rgba(0,0,0,.1);"/>
					<div>
						<table id="resultTable"
						       class="table">
							<thead class="thead-light">
								<tr>
									<th>Date</th>
									<th>Student</th>
									<th>Question</th>
									<th>Answer</th>
									<th></th>
									<th></th>

								</tr>
							<thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script>
      let nothingSelected = `<option value="">
																Nothing selected
															</option>
														`;

      function reRenderLectures() {
        let subjectId = $("#subjectBox")[0].value;
        let url = `/api/lecture?subjectId=${subjectId}`;
        $.get(url).then((res) => {
          let lectureBox = $("#lectureBox")[0];
          lectureBox.innerHTML = "";
          if (res.length === 0) {
            let option =
                `<option value="">
														No lectures
													</option>
		                    `;
            lectureBox.insertAdjacentHTML("beforeend", option);
            reRenderQuestions();
            return;
          }
          lectureBox.insertAdjacentHTML("beforeend", nothingSelected);

          for (let i = 0; i < res.length; i++) {
            let date = moment(res[i].date_time).format('DD.MM.YYYY h:mm:ss');
            let option =
                `<option value=${res[i].id}>
														${res[i].subject_name} ${date}
													</option>
		                    `;
            lectureBox.insertAdjacentHTML("beforeend", option);
          }
          reRenderQuestions();
        });
      }

      function reRenderQuestions() {
        let lectureId = $("#lectureBox")[0].value;
        let url = `/api/question?lectureId=${lectureId}`;
        $.get(url).then((res) => {
          let questionBox = $("#questionBox")[0];
          questionBox.innerHTML = "";
          if (res.length === 0) {
            let option =
                `<option value="">
														No questions
													</option>
		                    `;
            questionBox.insertAdjacentHTML("beforeend", option);
            return;
          }
          questionBox.insertAdjacentHTML("beforeend", nothingSelected);
          for (let i = 0; i < res.length; i++) {
            let option =
                `<option value=${res[i].id}>
														${res[i].question}
													</option>
		                    `;
            questionBox.insertAdjacentHTML("beforeend", option);
          }
        });
      }

      function search() {
        let subjectId = $("#subjectBox")[0].value;
        let lectureId = $("#lectureBox")[0].value;
        let questionId = $("#questionBox")[0].value;

        let url = `/api/answer?subjectId=${subjectId}&lectureId=${lectureId}&questionId=${questionId}`;
        let table = $("#resultTable")[0];
        table.innerHTML = "";
        table.innerHTML = `<thead class="thead-light">
																<tr>
																 <th>Date</th>
																 <th>Student</th>
																 <th>Question</th>
																 <th>Answer</th>
																 <th></th>
																 <th></th>
																</tr>
															<thead>`;

        $.get(url).then((res) => {
              console.log(res);
              for (let i = 0; i < res.length; i++) {
                let question =
                    `
															<tr>
																<td>
																	${moment(res[i].date_of_answer).format('DD.MM.YYYY h:mm:ss')}
																</td>
																<td>
																	${res[i].student}
																</td>
																<td>
																	${res[i].question}
																</td>
																<td>
																	${res[i].answer}
																</td>
														  </tr>
		                        `
                table.insertAdjacentHTML("beforeend", question);
              }
            }
        );
      }

      function changeActiveState(box) {
        let boxes = $("input[type~='checkbox']");
        if (!box.checked) return;
        for (let i = 0; i < boxes.length; i++) {
          if (boxes[i].id !== box.id)
            boxes[i].checked = false;
        }
      }

      function deleteQuestion(id, index) {
        $.ajax({
          url: "/api/question/" + id,
          type: 'DELETE',
          error: (xhr, error) => {
            console.error("Error in ajax req: " + error);
          },
          success: () => {
            console.info("Delete success");
            $("#resultTable")[0].deleteRow(index);
          }
        });

      }
		</script>
		<% include ../partials/scripts.ejs %>
		<script>
      document.onload = reRenderLectures();
		</script>
	</body>
</html>
