<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>

		<header>
			<% include ../partials/header.ejs %>
		</header>

		<div id="content">
			<% include ../partials/teacher/teacher-nav.ejs %>
			<div id="profContent">
				<div style="width: 80%;">
					<div id="questionSearchPanelMain"
					     style="display:flex;">
						<div id="questionSearchPanel">
							<h2>Question Finder</h2>
							<div class="form-group row">
								<label for="subjectBox"
								       class="col-sm-2 col-form-label">Subject
								</label>
								<div class="col-sm-10 d-flex">
									<select required
									        class="custom-select"
									        onchange="reRenderLectures()"
									        id="subjectBox">
										<% for (let i = 0; i < subjects.length; i++){ %>
											<option value="<%= subjects[i].id %>">
												<%= subjects[i].name %>
											</option>
										<% } %>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="lectureBox"
								       class="col-sm-2 col-form-label">Lecture
								</label>
								<div class="col-sm-10 d-flex">
									<select required
									        class="custom-select"
									        id="lectureBox">
										<option value="">
											Choose subject first!
										</option>
									</select>
								</div>
							</div>
							<div class="form-group row d-flex flex-row-reverse">
								<button type="button"
								        id="searchBtn"
								        onclick="search()"
								        class="btn btn-primary">Search
								</button>
							</div>
						</div>
						<div id="timerDiv">
							<h4 style="font-size: 1.3rem; padding-left: 50px"
							    id="timeHeader"></h4>
						</div>
					</div>
					<hr style="border: 1px solid rgba(0,0,0,.1);"/>
					<div>
						<table class="table"
						       id="resultTable">
							<thead class="thead-light">
								<tr>
									<th>Question</th>
									<th>Lecture</th>
									<th>Likes</th>
									<th></th>
								</tr>
							<thead>
						</table>
					</div>
					<div id="chartPanel">
						<canvas id="chartResults"></canvas>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<% include ../partials/teacher/answerModal.ejs %>

		<script>
      let questionToActivate;

      function reRenderLectures() {
        let subjectId = $("#subjectBox")[0].value;
        let url = `/api/lecture?subjectId=${subjectId}`;
        $.get(url).then((res) => {
          let lectureBox = $("#lectureBox")[0];
          lectureBox.innerHTML = "";
          for (let i = 0; i < res.length; i++) {
            let date = res[i].date_time;
            let option =
                `<option value=${res[i].id}>
					${res[i].subject_name} ${date}
				 </option> `;
            lectureBox.insertAdjacentHTML("beforeend", option);
          }
        });
      }

      function search() {
        let lectureId = $("#lectureBox")[0].value;
        let url = `/api/studentQuestion?lectureId=${lectureId}`;
        let table = $("#resultTable")[0];
        table.innerHTML = "";
        table.innerHTML = `  <thead class="thead-light">
								<tr>
								 <th>Question</th>
								 <th>Lecture</th>
								 <th>Likes</th>
								 <th></th>
								</tr>
							<thead>`;

        $.get(url).then((res) => {
              console.log(res);
              for (let i = 0; i < res.length; i++) {
                let jsonObj = JSON.stringify(res[i]);
                let question =
				                    `<tr>
										<td>
											 ${res[i].text}
										</td>
										<td>
											 ${res[i].lecture}
										</td>
											<td>
												 ${res[i].likes}
											</td>
											<td>
												<input type="image"
													   src="https://img.icons8.com/windows/32/000000/stack-exchange-answer.png"
													   data-toggle="modal"
													   data-target="#answerModal"
													   onclick='showAnswerModal(${jsonObj}, ${i})'/>
											</td>
									</tr>`
                table.insertAdjacentHTML("beforeend", question);
              }
            }
        );
      }

      function showAnswerModal(question, index) {
        questionToAnswer = question;
        $("#questionTextPanel")[0].value = "" + question.text;
        questionToAnswer.index = ++index;
      }

		</script>

		<% include ../partials/scripts.ejs %>
		<script>
      document.onload = reRenderLectures();
		</script>
	</body>
</html>
