<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>

		<header>
			<% include ../partials/header.ejs %>
		</header>


		<div id="content">
			<!-- Vertical navbar -->
			<%- include ../partials/sidebar.ejs %>
			<!-- End vertical navbar -->
			<div id="profContent">


			</div>

		</div>


		<!--<script>
        function addSurvey() {
            let year = $("#yearBox")[0].value;
            if (isNaN(year)) {
                console.error("Year is not a number")
                return
            }
            year = parseInt(year);
            let subject_id = $("#subjectBox")[0].value;
            let survey = {
                year: year,
                subject_id: subject_id
            };
            $.ajax({
                url: "/survey",
                type: 'POST',
                data: survey,
                error: (xhr, error) => {
                    // console.debug(xhr);
                    console.error("Error in ajax req: " + error);
                },
                success: () => {
                    console.log("Post success");
                    $("#surveyTable").load(" #surveyTable", () => {
                        $("#surveyTable").children().unwrap();
                    });
                }
            });
        }

        function deleteSurvey(id, index) {
            $.ajax({
                url: "/survey/" + id,
                type: 'DELETE',
                error: (xhr, error) => {
                    // console.debug(xhr);
                    console.error("Error in ajax req: " + error);
                },
                success: () => {
                    console.info("Delete success");
                    $("#surveyTable")[0].deleteRow(index);
                }
            });
        }

        //# sourceURL=addSurvey.js
		</script>-->
		<% include ../partials/scripts.ejs %>
	</body>
</html>
