body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbarLink {
    margin-left: 10px;

}

#surveyTable {
  widt: 100%;
}

#surveyPanel {
    display: flex;
    flex-direction: column;

}

#profContent{
    width: 50%;
    padding-left: 100px;
}

#navbarLinksPanel {
    display: flex;
    justify-content: flex-start;

}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    /*position: fixed;*/
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

#content {
    padding: 30px 0;
    display: flex;

}

#addSurveyBtn {


}

a {
    color: #00B7FF;
}
