body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbarLink {
    margin-left: 10px;
}

#surveyTable {
    width: 100%;
}

#surveyPanel {
    display: flex;
    flex-direction: column;
}

#profContent {
    width: 100%;
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alertsPanel {
    padding-left: 20px;
}

#navbarLinksPanel {
    display: flex;
    justify-content: flex-start;

}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    /*position: fixed;*/
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}


@media screen and (max-width: 900px) {
    body {
        background-color: blue;
    }
}

#content {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultTable th, td {
    padding-right: 30px;
}

#addSurveyBtn {

}

#sidebar {
    height: 100%;
}

a {
    color: #00B7FF;
}

#answSearchPanel {
    width: 60%;
}

#questionSearchPanel {
    width: 60%;
}

#addQuestionPanel {
    width: 100%;
    display: flex;
}

#timerDiv {
    width: 38%;
}

#addQuestionFormPanel {
    width: 100%;
}

.student-nav-item {
    font-size: 2.2vw;
    padding: 8px 35px !important;
}

#studentAnswersPanel {
    padding-top: 40px;
}

#addNewBtn {
    margin-right: 20px
}

#questionSearchPanelMain {
    display: flex;
}

#timeHeader {
    font-size: 1.3rem;
    padding-left: 50px;
}
