<!--
<ul id="" class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active student-nav-item" onclick="activate(0)" href="/student/answers">Answers</a>
	</li>
	<li class="nav-item">
		<a class="nav-link student-nav-item" onclick="activate(1)" href="/student/questions">Questions</a>
	</li>
</ul>

<script>
	function activate(index) {
      $(".student-nav-item").removeClass("active");
      $(".student-nav-item").eq(index).addClass("active");
  }

</script>
-->
