<ul id=""
    class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link  student-nav-item"
		   href="/teacher/answers">Answers
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link student-nav-item"
		   href="/teacher/question">Questions
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link  student-nav-item"
		   href="/teacher/studentQuestion">Student's questions
		</a>
	</li>
</ul>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>

<script>
  function activate() {
    let href = window.location.href;
    if (href.includes("answer"))
      $(".student-nav-item").eq(0).addClass("active");
    else if (href.includes("student"))
      $(".student-nav-item").eq(2).addClass("active");
    else if (href.includes("question") || href.includes("Question"))
      $(".student-nav-item").eq(1).addClass("active");

  }

  document.onloadend = activate()

</script>
