<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<header>
			<% include ../partials/header.ejs %>
		</header>

		<style>

		</style>
		<div id="content"
		     style="display: flex; flex-direction: column; align-items: center;">
			<% include ../partials/student/student-nav.ejs%>
			<!-- End vertical navbar -->
			<div id="profContent">
			</div>
		</div>
		<% include ../partials/scripts.ejs %>
	</body>
</html>
